.navbar-brand{
  font-family: 'Playfair Display';
  font-size: 25px;
  font-weight: light;
  padding:30px 20px 40px;
  
}

.nav-item{
  font-size: 20px;
  
}

.nav-link{
  font-family:'Playfair Display';
  font-size: 20px;
  text-align: center;
  padding: 30px;
}

.bgimage{
  background: url('image/bg.jpeg');
  background-size:cover;
  height: 100vh;
  position: relative;
}

.title{
  font-weight: bold;
  font-family:'Playfair Display';
  font-size: 50px;
  text-align: center;
  padding-top: 60px;
  color: #645549;
}

.intro{
  font-size: 25px;
  text-align: center;
  font-weight: lighter;
  font-family: 'Playfair Display';
  color: #645549;
}

.image{
  padding: 20px 20px 20px;
}

.portfolio{
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  font-family: 'Playfair Display';
  padding: 0px 40px 15px;
  color: #C7B1A0;
}

  .container {
    display: grid;
    align-items: left; 
    grid-template-columns: 1fr 2fr;
    column-gap: 5px;
   }
 
 .text {
  padding-left: 40px;
  font-size: 20px;
  padding-top: 20%;
  font-family: 'Source Sans Pro';
 }

 .postertext{
  padding-top: 350px;
  padding-left: 40px;
  font-size: 20px;
  padding-top: 20%;
  font-family: 'Source Sans Pro';
 }

 .worktitle{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Playfair Display';
  color:#C7B1A0;
 }

 a:link{
  color:#C7B1A0;
 }

 a:visited{
  color:#837177;
 }

 #footer{
  padding: 5% 5%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
  font-size: 20px;
  color:#645549;
}